[Unit]
Description=Indexima Dev Console Service
After=network.target
StartLimitInterval=60
StartLimitBurst=5

[Service]
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10
WorkingDirectory={{ dc_path }}
User={{ service_user | d('root') }}
ExecStart=/bin/bash {{ dc_path }}/start.sh

[Install]
WantedBy=multi-user.target