[Unit]
Description=Indexima Service
After=network.target
StartLimitInterval=60
StartLimitBurst=5

[Service]
EnvironmentFile=/etc/environment
Restart=always
WorkingDirectory={{ galactica_path }}
LimitNOFILE=65536
User={{ service_user }}
ExecStart=/bin/bash {{ galactica_path }}/start-node.sh --master

[Install]
WantedBy=multi-user.target