[Unit]
Description=Indexima Service
After=network.target

[Service]
Restart=always
WorkingDirectory={{ galactica_path }}
LimitNOFILE=1000000
User={{ indexima_service_user }}
ExecStart=/bin/bash {{ galactica_path }}/start-node.sh --host {{ service_local_ip }}:{{ node_port }} --attach {{ service_master_ip }}:{{ node_port }}

[Install]
WantedBy=multi-user.target